services:
  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - pushgateway

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"

  trainer:
    image: mlopsel          # <-- YOUR IMAGE
    container_name: mlops
    depends_on:
      - pushgateway
    volumes:
      - ./:/app
    command: >
      python train_nextstep_load3.py
      --csv smart_grid_dataset_ci.csv
